@import "tailwindcss";

/* ===== Domass Theme ===== */
@theme {
  --color-domass-bg: #FEDEDF;
  --color-domass-primary: #D979A7;
  --color-domass-cookie: #E8C7A1;
  --color-domass-cocoa: #6B4A4E;
}

/* Aplicando fundo global */
html, body {
  background: var(--color-domass-bg);
}
